---
- name: Start Sound Server
  ansible.builtin.include_tasks: block-sound.yml
  when: ovos_services_manager == 'systemd'

- name: Restart OVOS services (user)
  listen: Restart OVOS services
  become: true
  become_user: "{{ ovos_installer_user }}"
  ansible.builtin.systemd_service:
    name: ovos.service
    scope: user
    state: restarted
  failed_when: false
  when:
    - ovos_installer_method == "virtualenv"
    - ovos_services_manager == 'systemd'
    - (ovos_installer_systemd_scope | default('user')) == 'user'

- name: Restart OVOS services (system)
  listen: Restart OVOS services
  ansible.builtin.systemd_service:
    name: ovos.service
    scope: system
    state: restarted
  failed_when: false
  when:
    - ovos_installer_method == "virtualenv"
    - ovos_services_manager == 'systemd'
    - (ovos_installer_systemd_scope | default('user')) == 'system'

- name: Restart OVOS services (launchd user)
  listen: Restart OVOS services
  vars:
    ovos_services_launchd_plist_name: "{{ item.label }}.plist"
  become: true
  become_user: "{{ ovos_services_launchd_user_module_become_user }}"
  community.general.launchd:
    name: "{{ item.label }}"
    plist: "{{ ovos_services_launchd_plist_name }}"
    enabled: true
    state: restarted
  environment: "{{ ovos_services_launchd_user_module_environment }}"
  failed_when: false
  loop: "{{ ovos_services_launchd_unit_definitions }}"
  loop_control:
    label: "{{ item.label }}"
  when:
    - ovos_installer_method == "virtualenv"
    - ovos_services_manager == 'launchd'
    - item.scope == 'user'
    - item.state | bool

- name: Restart OVOS services (launchd system)
  listen: Restart OVOS services
  vars:
    ovos_services_launchd_plist_name: "{{ item.label }}.plist"
  become: true
  community.general.launchd:
    name: "{{ item.label }}"
    plist: "{{ ovos_services_launchd_plist_name }}"
    enabled: true
    state: restarted
  failed_when: false
  loop: "{{ ovos_services_launchd_unit_definitions }}"
  loop_control:
    label: "{{ item.label }}"
  when:
    - ovos_installer_method == "virtualenv"
    - ovos_services_manager == 'launchd'
    - item.scope == 'system'
    - item.state | bool

- name: Restart WirePlumber
  listen:
    - Restart OVOS services
    - Restart WirePlumber
  become: true
  become_user: "{{ ovos_installer_user }}"
  ansible.builtin.systemd_service:
    name: wireplumber
    scope: user
    state: restarted
  failed_when: false
  when:
    - ovos_installer_method == "virtualenv"
    - ovos_services_manager == 'systemd'
    - ovos_sound_detect_sound_server is defined
    - ovos_sound_detect_sound_server.stdout == "pipewire"

- name: Restart PipeWire
  listen: Restart PipeWire
  become: true
  become_user: "{{ ovos_installer_user }}"
  ansible.builtin.systemd_service:
    name: pipewire
    scope: user
    state: restarted
  failed_when: false
  when:
    - ovos_installer_method == "virtualenv"
    - ovos_services_manager == 'systemd'
    - ovos_sound_detect_sound_server is defined
    - ovos_sound_detect_sound_server.stdout == "pipewire"

- name: Reload Systemd User
  become: true
  become_user: "{{ ovos_installer_user }}"
  ansible.builtin.systemd_service:
    daemon_reload: true
    scope: user
  when: ovos_services_manager == 'systemd'

- name: Reload Systemd
  ansible.builtin.systemd_service:
    daemon_reload: true
  when: ovos_services_manager == 'systemd'

- name: Set Reboot
  ansible.builtin.set_fact:
    ovos_installer_reboot: true  # noqa var-naming

- name: Reload Udev rules
  listen: Reload Udev
  ansible.builtin.command: udevadm control --reload-rules
  changed_when: false
  when: ovos_services_manager == 'systemd'

- name: Trigger Udev
  listen: Reload Udev
  ansible.builtin.command: udevadm trigger
  changed_when: false
  when: ovos_services_manager == 'systemd'

- name: Restart NetworkManager
  ansible.builtin.systemd_service:
    name: NetworkManager
    state: restarted
  when:
    - ovos_services_manager == 'systemd'
    - ovos_installer_networkmanager_dir is defined
    - ovos_installer_networkmanager_dir.stat is defined
    - ovos_installer_networkmanager_dir.stat.exists | default(false) | bool
