ovos-audio[extras]
ovos-audio-plugin-simple
ovos-core[lgpl]
ovos-dinkum-listener[extras]
ovos-messagebus
ovos-microphone-plugin-sounddevice
ovos-PHAL
ovos-PHAL-plugin-alsa
ovos-PHAL-plugin-system
ovos-PHAL-plugin-ipgeo
ovos-plugin-manager[offline]
ovos-plugin-vlc
ovos-translate-server-plugin
ovos-skills-manager
ovos-stt-plugin-vosk
ovos-vad-plugin-silero
ovos-ww-plugin-pocketsphinx
ovos-ww-plugin-vosk

# No PyPi release
git+https://github.com/OpenVoiceOS/ovos-bidirectional-translation-plugin.git
git+https://github.com/OpenVoiceOS/ovos-cli-client.git
git+https://github.com/OpenVoiceOS/ovos-utterance-corrections-plugin.git

# Non-OVOS libraries
neon-mana-utils
onnxruntime
vosk
