---
- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ovos_installer_user }}"
    group: "{{ ovos_installer_group }}"
    mode: "0755"
  loop:
    - "{{ ovos_hardware_mark2_working_dir }}"
    - "{{ ovos_hardware_mark2_systemd_user_dir }}"
    - "{{ ovos_hardware_mark2_wireplumber_conf_dir }}"

- name: Check for /boot/firmware directory
  ansible.builtin.stat:
    path: "{{ ovos_installer_boot_firmware_path | default('/boot/firmware') }}"
  register: ovos_hardware_mark2_boot_config_status
  when: ovos_hardware_mark2_boot_directory is not defined

- name: Set boot directory fact
  ansible.builtin.set_fact:
    ovos_hardware_mark2_boot_directory: >-
      {{ (ovos_installer_boot_firmware_path | default('/boot/firmware'))
         if ovos_hardware_mark2_boot_config_status.stat.exists | bool
         else (ovos_installer_boot_default_path | default('/boot')) }}
  when: ovos_hardware_mark2_boot_directory is not defined
