---
- name: Add rpi-backlight DT overlay
  ansible.builtin.lineinfile:
    path: "{{ ovos_hardware_mark2_boot_config_path }}"
    regexp: "^rpi-backlight"
    line: "{{ ovos_hardware_mark2_backlight_overlay }}"

- name: Manage touchscreen, DevKit vs Mark II
  ansible.builtin.lineinfile:
    path: "{{ ovos_hardware_mark2_boot_config_path }}"
    regexp: "^{{ item.overlay }}"
    line: "{{ item.overlay }}"
    state: "{{ item.state }}"
  loop: "{{ ovos_hardware_mark2_touchscreen_overlays }}"
  when: "'attiny1614' in ovos_installer_i2c_devices"
