---
- name: Configure ALSA for WirePlumber
  ansible.builtin.copy:
    src: "{{ ovos_hardware_mark2_wireplumber_alsa_conf_src }}"
    dest: "{{ ovos_hardware_mark2_wireplumber_dir }}/{{ ovos_hardware_mark2_wireplumber_alsa_conf_src }}"
    owner: "{{ ovos_installer_user }}"
    group: "{{ ovos_installer_group }}"
    mode: "{{ ovos_hardware_mark2_wireplumber_alsa_conf_mode }}"
