---
ovos_services_manager: "{{ 'launchd' if (ansible_facts.system | default('')) == 'Darwin' else 'systemd' }}"
ovos_services_wrapper_template: virtualenv/wrapper-ovos-phal-admin.sh.j2
ovos_services_wrapper_path: /usr/local/bin/wrapper-ovos-phal-admin.sh
ovos_services_wrapper_mode: "0755"
ovos_services_shell_path: /bin/bash
ovos_services_combo_locks_dir: /tmp/combo_locks
ovos_services_venv_path: >-
  {{ ovos_virtualenv_path
     | default(ovos_installer_ovos_venv_path
     | default(ovos_installer_user_home + '/.venvs/ovos')) }}
ovos_services_systemd_user_path: >-
  {{ ovos_installer_systemd_user_path | default(ovos_installer_user_home + '/.config/systemd/user') }}
ovos_services_systemd_system_path: >-
  {{ ovos_installer_systemd_system_path | default('/etc/systemd/system') }}
ovos_services_systemd_unit_mode: "0644"
ovos_services_user_runtime_dir: "/run/user/{{ ovos_installer_uid }}"
ovos_services_user_runtime_mode: "0700"
ovos_services_user_systemd_unit: "user@{{ ovos_installer_uid }}"
ovos_services_enable_linger_cmd: "loginctl enable-linger {{ ovos_installer_user }}"
ovos_services_launchd_agents_path: "{{ ovos_installer_user_home }}/Library/LaunchAgents"
ovos_services_launchd_daemons_path: /Library/LaunchDaemons
ovos_services_launchd_system_group: wheel
ovos_services_launchd_log_dir: "{{ ovos_installer_user_home }}/.local/state/mycroft/logs"
ovos_services_launchd_label_prefix: com.openvoiceos
ovos_services_launchd_core_label: com.ovos.service
ovos_services_launchd_legacy_core_labels:
  - "{{ ovos_services_launchd_label_prefix }}.ovos-core"
ovos_services_launchd_run_at_load: true
ovos_services_launchd_keep_alive: true
ovos_services_launchd_restart_on_failure: true
ovos_services_launchd_throttle_interval: "{{ 1 if (ovos_installer_tuning | default(false) | bool) else 5 }}"
ovos_services_launchd_path: "{{ ovos_services_venv_path }}/bin:/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin"
ovos_services_launchd_user_management_mode: user
ovos_services_launchd_user_module_become_user: >-
  {{ ovos_installer_user if ovos_services_launchd_user_management_mode == 'user' else 'root' }}
ovos_services_launchd_user_lookup_environment:
  HOME: "{{ ovos_installer_user_home }}"
  LOGNAME: "{{ ovos_installer_user }}"
  USER: "{{ ovos_installer_user }}"
ovos_services_launchd_user_module_environment: >-
  {{
    ovos_services_launchd_user_lookup_environment
    if ovos_services_launchd_user_management_mode == 'root'
    else {}
  }}
# Allow launchd jobs to inherit network/proxy/TLS settings from installer env.
ovos_services_launchd_extra_environment:
  HTTP_PROXY: "{{ ansible_env.HTTP_PROXY | default(ansible_env.http_proxy | default('')) }}"
  HTTPS_PROXY: "{{ ansible_env.HTTPS_PROXY | default(ansible_env.https_proxy | default('')) }}"
  ALL_PROXY: "{{ ansible_env.ALL_PROXY | default(ansible_env.all_proxy | default('')) }}"
  NO_PROXY: "{{ ansible_env.NO_PROXY | default(ansible_env.no_proxy | default('')) }}"
  REQUESTS_CA_BUNDLE: "{{ ansible_env.REQUESTS_CA_BUNDLE | default('') }}"
  SSL_CERT_FILE: "{{ ansible_env.SSL_CERT_FILE | default('') }}"
  SSL_CERT_DIR: "{{ ansible_env.SSL_CERT_DIR | default('') }}"
ovos_services_messagebus_target_arch: >-
  {{ 'aarch64' if (ansible_facts.architecture | default('')) in ['aarch64', 'arm64']
     else 'x86_64' if (ansible_facts.architecture | default('')) in ['x86_64', 'amd64']
     else 'armv7' if (ansible_facts.architecture | default('')) in ['armv7', 'armv7l']
     else 'arm' if (ansible_facts.architecture | default('')) in ['arm', 'armv6', 'armv6l']
     else (ansible_facts.architecture | default('')) }}
ovos_services_messagebus_target_platform: >-
  {{ 'apple-darwin' if (ansible_facts.system | default('')) == 'Darwin'
     else 'unknown-linux-gnueabihf' if ovos_services_messagebus_target_arch in ['arm', 'armv7']
     else 'unknown-linux-gnu' }}
ovos_services_messagebus_binary_name: >-
  ovos_messagebus-{{ ovos_services_messagebus_target_arch }}-{{ ovos_services_messagebus_target_platform }}
ovos_services_messagebus_command: "{{ ovos_installer_user_home }}/.local/bin/{{ ovos_services_messagebus_binary_name }}"
ovos_services_managed_units:
  - ovos.service
  - ovos-messagebus.service
  - ovos-core.service
  - ovos-phal.service
  - ovos-listener.service
  - ovos-audio.service
  - ovos-ggwave-listener.service
  - hivemind-listener.service
  - hivemind-satellite.service
ovos_services_admin_unit: ovos-phal-admin.service
ovos_services_unit_definitions:
  - unit: ovos.service
    scope: "{{ ovos_installer_systemd_scope | default('user') }}"
    state: "{{ ovos_installer_profile != 'satellite' }}"
  - unit: ovos-messagebus.service
    scope: "{{ ovos_installer_systemd_scope | default('user') }}"
    state: "{{ ovos_installer_profile != 'satellite' }}"
  - unit: ovos-core.service
    scope: "{{ ovos_installer_systemd_scope | default('user') }}"
    state: "{{ ovos_installer_profile != 'satellite' }}"
  - unit: ovos-phal.service
    scope: "{{ ovos_installer_systemd_scope | default('user') }}"
    state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
  - unit: "{{ ovos_services_admin_unit }}"
    scope: system
    state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
  - unit: ovos-listener.service
    scope: "{{ ovos_installer_systemd_scope | default('user') }}"
    state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
  - unit: ovos-audio.service
    scope: "{{ ovos_installer_systemd_scope | default('user') }}"
    state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
  - unit: ovos-ggwave-listener.service
    scope: "{{ ovos_installer_systemd_scope | default('user') }}"
    state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' and (ovos_installer_enable_ggwave | bool) }}"
  - unit: hivemind-listener.service
    scope: "{{ ovos_installer_systemd_scope | default('user') }}"
    state: "{{ ovos_installer_profile == 'listener' or ovos_installer_profile == 'server' }}"
  - unit: hivemind-satellite.service
    scope: "{{ ovos_installer_systemd_scope | default('user') }}"
    state: "{{ ovos_installer_profile == 'satellite' }}"
ovos_services_launchd_unit_definitions:
  - name: ovos-messagebus
    label: "{{ ovos_services_launchd_label_prefix }}.ovos-messagebus"
    scope: user
    state: "{{ ovos_installer_profile != 'satellite' }}"
    command: "{{ ovos_services_messagebus_command }}"
    arguments: []
  - name: ovos-core
    label: "{{ ovos_services_launchd_core_label }}"
    scope: user
    state: "{{ ovos_installer_profile != 'satellite' }}"
    command: "{{ ovos_services_venv_path }}/bin/ovos-core"
    arguments: []
  - name: ovos-phal
    label: "{{ ovos_services_launchd_label_prefix }}.ovos-phal"
    scope: user
    state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    command: "{{ ovos_services_venv_path }}/bin/ovos_PHAL"
    arguments: []
  - name: ovos-listener
    label: "{{ ovos_services_launchd_label_prefix }}.ovos-listener"
    scope: user
    state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    command: "{{ ovos_services_venv_path }}/bin/ovos-dinkum-listener"
    arguments: []
  - name: ovos-audio
    label: "{{ ovos_services_launchd_label_prefix }}.ovos-audio"
    scope: user
    state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    command: "{{ ovos_services_venv_path }}/bin/ovos-audio"
    arguments: []
  - name: ovos-ggwave-listener
    label: "{{ ovos_services_launchd_label_prefix }}.ovos-ggwave-listener"
    scope: user
    state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' and (ovos_installer_enable_ggwave | bool) }}"
    command: "{{ ovos_services_venv_path }}/bin/ovos-ggwave-listener"
    arguments: []
  - name: hivemind-listener
    label: "{{ ovos_services_launchd_label_prefix }}.hivemind-listener"
    scope: user
    state: "{{ ovos_installer_profile == 'listener' or ovos_installer_profile == 'server' }}"
    command: "{{ ovos_services_venv_path }}/bin/hivemind-core"
    arguments:
      - listen
  - name: hivemind-satellite
    label: "{{ ovos_services_launchd_label_prefix }}.hivemind-satellite"
    scope: user
    state: "{{ ovos_installer_profile == 'satellite' }}"
    command: "{{ ovos_services_venv_path }}/bin/hivemind-voice-sat"
    arguments: []
  - name: ovos-phal-admin
    label: "{{ ovos_services_launchd_label_prefix }}.ovos-phal-admin"
    scope: system
    state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    command: "{{ ovos_services_wrapper_path }}"
    arguments: []
ovos_services_unit_files_system: >-
  {{ ovos_services_managed_units | map('regex_replace', '^', ovos_services_systemd_system_path ~ '/') | list
     + [ovos_services_systemd_system_path ~ '/' ~ ovos_services_admin_unit] }}
ovos_services_unit_files_user: >-
  {{ ovos_services_managed_units | map('regex_replace', '^', ovos_services_systemd_user_path ~ '/') | list }}
ovos_services_user_runtime_dirs:
  - "{{ ovos_installer_user_home }}/.cache/mycroft"
  - "{{ ovos_installer_user_home }}/.cache/ovos_gui"
  - "{{ ovos_installer_user_home }}/.local/state/mycroft"
  - "{{ ovos_services_launchd_log_dir }}"
ovos_services_launchd_unit_files_user: >-
  {{ ovos_services_launchd_unit_definitions
     | selectattr('scope', 'equalto', 'user')
     | map(attribute='label')
     | map('regex_replace', '^', ovos_services_launchd_agents_path ~ '/')
     | map('regex_replace', '$', '.plist')
     | list }}
ovos_services_launchd_unit_files_system: >-
  {{ ovos_services_launchd_unit_definitions
     | selectattr('scope', 'equalto', 'system')
     | map(attribute='label')
     | map('regex_replace', '^', ovos_services_launchd_daemons_path ~ '/')
     | map('regex_replace', '$', '.plist')
     | list }}
ovos_services_unit_backup_patterns:
  - "ovos-*.service.*~"
  - "hivemind-*.service.*~"
ovos_services_remove_directories:
  - "{{ ovos_installer_user_home }}/.cache/mycroft"
  - "{{ ovos_installer_user_home }}/.cache/ovos_gui"
  - "{{ ovos_installer_user_home }}/.config/mycroft"
  - "{{ ovos_installer_user_home }}/.config/hivemind"
  - "{{ ovos_installer_user_home }}/.config/OpenVoiceOS"
  - "{{ ovos_installer_user_home }}/.config/OvosTheme"
  - "{{ ovos_installer_user_home }}/.config/OvosDisplay.conf"
  - "{{ ovos_installer_user_home }}/.config/ovos-installer"
  - "{{ ovos_installer_user_home }}/.config/ovos_persona"
  - "{{ ovos_installer_user_home }}/.local/share/mycroft"
  - "{{ ovos_installer_user_home }}/.local/share/OpenVoiceOS"
  - "{{ ovos_installer_user_home }}/.local/share/precise-lite"
  - "{{ ovos_installer_user_home }}/.local/state/mycroft"
  - "{{ ovos_installer_user_home }}/.local/state/vosk"
  - "{{ ovos_installer_user_home }}/.local/state/ovos"
  - "{{ ovos_installer_user_home }}/nltk_data"
  - "{{ ovos_installer_user_home }}/stdout"
