---
- name: Remove NetworkManager dnsmasq config
  ansible.builtin.file:
    path: "{{ ovos_network_tuning_dnsmasq_conf_path }}"
    state: absent
  when: ovos_installer_networkmanager_dir.stat.exists | default(false) | bool
  notify: Restart NetworkManager

- name: Remove dnsmasq cache config
  ansible.builtin.file:
    path: "{{ ovos_network_tuning_dnsmasq_cache_conf_path }}"
    state: absent
  when: ovos_installer_networkmanager_dir.stat.exists | default(false) | bool
  notify: Restart NetworkManager

- name: Remove wlan0-power systemd unit file
  ansible.builtin.file:
    path: "{{ ovos_network_tuning_wireless_unit_path }}"
    state: absent
  notify: Reload Systemd

- name: Flush handlers wireless (uninstall)
  ansible.builtin.meta: flush_handlers
