ovos-audio[extras]
ovos-core[lgpl,plugins]
ovos-dinkum-listener[{{ 'extras' if ansible_facts.system == 'Darwin' else 'extras,linux' }}]
{% if ansible_facts.system == 'Darwin' %}
ovos-microphone-plugin-sounddevice
{% if (ovos_installer_cpu_is_capable | default(false)) | bool %}
ovos-ww-plugin-precise-onnx
{% endif %}
{% endif %}
ovos-docs-viewer
{% if ovos_installer_feature_gui | bool %}
ovos-gui[extras]
ovos-skill-homescreen
{% endif %}
ovos-PHAL[{{ 'mac' if ansible_facts.system == 'Darwin' else 'linux' }}]
ovos-phal-plugin-ipgeo
{% if (ovos_installer_locale != "ca-es") and (ovos_installer_locale != "eu-es") and (ovos_installer_locale != "gl-es") %}
ovos-tts-plugin-piper
{% endif %}
ovos-tts-plugin-polly

{% if ovos_installer_locale == "ca-es" %}
ovos-tts-plugin-matxa-multispeaker-cat
{% endif %}

{% if ovos_installer_locale == "gl-es" %}
ovos-tts-plugin-nos
{% endif %}

{% if (ovos_installer_locale == "es-es") or (ovos_installer_locale == "eu-es") %}
ovos-tts-plugin-ahotts
{% endif %}

{% if ovos_installer_enable_ggwave %}
ovos-audio-transformer-plugin-ggwave
{% endif %}

{% if (ovos_installer_cpu_is_capable | default(false)) | bool %}
ovos-dinkum-listener[onnx]
{% endif %}

{% if 'tas5806' in ovos_installer_i2c_devices %}
ovos-PHAL[mk2]
{% endif %}

{% if 'atmega328p' in ovos_installer_i2c_devices %}
ovos-PHAL[mk1]
{% endif %}

{% if 'attiny1614' in ovos_installer_i2c_devices %}
ovos-PHAL[mk2dev]
git+https://github.com/OVOSHatchery/ovos-PHAL-plugin-sj201-leds.git
{% endif %}
