#jinja2: lstrip_blocks: True
{
  "log_level": "INFO",
{% if ovos_installer_method == "containers" %}
  "logs": {
    "path": "stdout"
  },
{% endif %}
{% if ovos_installer_profile != "server" %}
  "play_wav_cmdline": "play %1",
  "play_mp3_cmdline": "play %1",
  "lang": "{{ ovos_installer_locale }}",
  "system_unit": "{{ ovos_installer_system_unit }}",
  "temperature_unit": "{{ ovos_installer_temperature_unit }}",
  "precipitation_unit": "{{ ovos_installer_precipitation_unit }}",
  "windspeed_unit": "{{ ovos_installer_windspeed_unit }}",
  "time_format": "{{ ovos_installer_time_format }}",
  "spoken_time_format": "{{ ovos_installer_spoken_time_format }}",
  "date_format": "{{ ovos_installer_date_format }}",
  "listener": {
    "VAD": {
      "module": "{{ 'ovos-vad-plugin-silero' if ovos_installer_cpu_is_capable | bool else 'ovos-vad-plugin-webrtcvad' }}"
      {% if ovos_installer_tuning | bool %}
      ,"ovos-vad-plugin-silero": {
        "silence_duration": 0.5
      },
      "ovos-vad-plugin-webrtcvad": {
        "silence_duration": 0.5
      }
      {% endif %}
    }
    {% if ovos_installer_tuning | bool %}
    ,"wake_word": "openwakeword",
    "patience": 0.5,
    "hotwords": {
      "hey_mycroft": {
        "module": "ovos-ww-plugin-precise-onnx",
        "sensitivity": {{ ovos_installer_hotword_sensitivity }},
        "trigger_level": {{ ovos_installer_hotword_trigger_level }}
      }
    }
    {% endif %}
    }
  },
{% if (ansible_architecture == "x86_64") or (ansible_architecture == "aarch64") %}
  "skills": {
    "installer": {
      "allow_pip": true,
      "allow_alphas": true
    }
  },
{% endif %}
{% if 'tas5806' in ovos_installer_i2c_devices %}
  "Audio": {
    "backends": {
      "OCP": {
        "playback_mode": 40
      }
    }
  },
  "intents": {
    "OCP": {
      "legacy": true
    }
  },
{% endif %}
{% if ovos_installer_feature_gui | bool %}
  "gui": {
    "extension": "ovos-gui-plugin-shell-companion"{% if ovos_installer_method == "containers" %},
    "gui_file_host_path": "/home/ovos/.cache/gui_files"
    {% endif %}
  },
{% else %}
  "gui": {
    "disable_gui": false
  },
{% endif %}
{% endif %}
  "websocket": {
    "host": "{{ '0.0.0.0' if ovos_installer_method == "containers" else '127.0.0.1' }}",
    "max_msg_size": {{ 100 if ovos_installer_feature_gui | bool and ovos_installer_method == "containers" else 25 }}
  },
  "PHAL": {
    "admin": {
      "ovos-PHAL-plugin-system": {
        "enabled": true
      }
   }{% if 'tas5806' in ovos_installer_i2c_devices %},
    "ovos-PHAL-plugin-hotkeys": {
      "key_down": {
        "mycroft.mic.listen": 582,
        "mycroft.mic.mute": 248,
        "mycroft.volume.increase": 115,
        "mycroft.volume.decrease": 114
      },
      "key_up": {
        "mycroft.mic.unmute": 248
      }
    }
{% endif %}
  }{% if ovos_installer_usage_telemetry| bool %},
  "open_data": {
    "intent_urls": [
      "https://metrics.tigregotico.pt/intents"
    ]
  }
{% endif %}
}
