#jinja2: lstrip_blocks: True
{
  "log_level": "INFO",
{% if ovos_installer_method == "containers" %}
  "logs": {
    "path": "stdout"
  },
{% endif %}
{% if ovos_installer_profile != "server" %}
  "play_wav_cmdline": "{{ 'aplay' if _detect_sound_server.stdout == "pulseaudio" else 'pw-play' }} %1",
  "play_mp3_cmdline": "{{ 'paplay' if _detect_sound_server.stdout == "pulseaudio" else 'pw-play' }} %1",
  "lang": "{{ ovos_installer_locale }}",
  "listener": {
    "remove_silence": true,
    "VAD": {
      "module": "{{ 'ovos-vad-plugin-silero' if ovos_installer_cpu_is_capable | bool else 'ovos-vad-plugin-webrtcvad' }}"
    },
    "instant_listen": true
  },
{% if (ansible_architecture == "x86_64") or (ansible_architecture == "aarch64") %}
  "skills": {
    "installer": {
      "allow_pip": true,
      "allow_alphas": true
    }
  },
{% endif %}
{% if 'tas5806' in ovos_installer_i2c_devices %}
  "Audio": {
    "backends": {
      "OCP": {
        "playback_mode": 40
      }
    }
  },
  "intents": {
    "OCP": {
      "legacy": true
    }
  },
{% endif %}
{% if ovos_installer_feature_gui | bool %}
  "gui": {
    "extension": "ovos-gui-plugin-shell-companion"{% if ovos_installer_method == "containers" %},
    "gui_file_host_path": "/home/ovos/.cache/gui_files"
    {% endif %}
  },
{% endif %}
{% endif %}
  "websocket": {
    "max_msg_size": {{ 100 if ovos_installer_feature_gui | bool and ovos_installer_method == "containers" else 25 }}
  },
  "PHAL": {
{% if 'tas5806' in ovos_installer_i2c_devices %}
    "ovos-PHAL-plugin-hotkeys": {
      "key_down": {
        "mycroft.mic.listen": 582,
        "mycroft.mic.mute": 248,
        "mycroft.volume.increase": 115,
        "mycroft.volume.decrease": 114
      },
      "key_up": {
        "mycroft.mic.unmute": 248
      }
    }
{% endif %}
  }{% if ovos_installer_profile != "server" %},
  "tts": {
    "ovos-tts-plugin-server": {
      {% if ovos_installer_locale == "de-de" %}
      "voice": "thorsten-low"
      {% elif ovos_installer_locale == "en-us" %}
      "voice": "ryan-low"
      {% elif ovos_installer_locale == "es-es" %}
      "voice": "davefx-medium"
      {% elif ovos_installer_locale == "fr-fr" %}
      "voice": "siwis-medium"
      {% elif ovos_installer_locale == "it-it" %}
      "voice": "riccardo_fasol-x-low"
      {% elif ovos_installer_locale == "nl-nl" %}
      "voice": "rdh-medium"
      {% elif ovos_installer_locale == "pt-pt" %}
      "voice": "tugao-medium"
      {% endif %}
    },
    "sentence_tokenize": true
  }
{% endif %}
}
