---
- name: Reload Systemd User
  become: true
  become_user: "{{ ovos_installer_user }}"
  ansible.builtin.systemd_service:
    daemon_reload: true
    scope: user

- name: Set Reboot
  ansible.builtin.set_fact:
    ovos_installer_reboot: true  # noqa var-naming
    ovos_hardware_mark1_reboot: true
