ovos-messagebus
ovos-core[lgpl,plugins]
ovos-PHAL[extras,linux]
ovos-dinkum-listener[extras,linux]
ovos-audio[extras]

{% if (ansible_architecture == "x86_64") or (ansible_architecture == "aarch64") %}
ovos-audio-transformer-plugin-ggwave
{% endif %}

ovos-tts-plugin-polly

{% if ovos_installer_cpu_is_capable | bool %}
ovos-dinkum-listener[onnx]
{% endif %}

{% if 'tas5806' in ovos_installer_i2c_devices %}
ovos-PHAL[mk2]
{% endif %}

{% if 'atmega328p' in ovos_installer_i2c_devices %}
ovos-PHAL[mk1]
{% endif %}

{% if 'attiny1614' in ovos_installer_i2c_devices %}
ovos-PHAL[mk2dev]
git+https://github.com/OVOSHatchery/ovos-PHAL-plugin-sj201-leds.git
{% endif %}

# No PyPi release
git+https://github.com/OpenVoiceOS/ovos-cli-client.git

# Non-OVOS libraries
#neon-mana-utils #Commented until PyYAML requirement is fixed
{% if (ansible_architecture == "x86_64") or (ansible_architecture == "aarch64") %}
onnxruntime
vosk
{% endif %}
