ovos-audio[extras]
ovos-core[lgpl,plugins]
ovos-dinkum-listener[extras,linux]
ovos-docs-viewer
ovos-messagebus
ovos-PHAL[linux]
ovos-phal-plugin-ipgeo
ovos-tts-plugin-polly

{% if ovos_installer_locale == "ca-es" %}
ovos-tts-plugin-matxa-multispeaker-cat
{% endif %}

{% if (ansible_architecture == "x86_64") or (ansible_architecture == "aarch64") %}
ovos-audio-transformer-plugin-ggwave
{% endif %}

{% if ovos_installer_cpu_is_capable | bool %}
ovos-dinkum-listener[onnx]
{% endif %}

{% if 'tas5806' in ovos_installer_i2c_devices %}
ovos-PHAL[mk2]
{% endif %}

{% if 'atmega328p' in ovos_installer_i2c_devices %}
ovos-PHAL[mk1]
{% endif %}

{% if 'attiny1614' in ovos_installer_i2c_devices %}
ovos-PHAL[mk2dev]
git+https://github.com/OVOSHatchery/ovos-PHAL-plugin-sj201-leds.git
{% endif %}

