# No PyPi release
git+https://github.com/OpenVoiceOS/skill-ovos-icanhazdadjokes.git
git+https://github.com/OpenVoiceOS/skill-ovos-fallback-chatgpt.git
git+https://github.com/OpenVoiceOS/skill-ovos-parrot.git
git+https://github.com/OpenVoiceOS/skill-ovos-randomness.git
git+https://github.com/OpenVoiceOS/skill-ovos-wolfie.git

# Non-OVOS libraries
{% if ovos_installer_profile != "server" %}
git+https://github.com/OpenVoiceOS/ovos-skill-easter-eggs.git
{% endif %}
