[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/terms/#hivemind
Description=HiveMind - Listener
After=network-online.target
Requires=ovos.service

[Service]
WorkingDirectory=%h/.venvs/ovos
ExecStart=%h/.venvs/ovos/bin/hivemind-core listen
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s KILL $MAINPID
Restart=on-failure
RestartSec={{ '1s' if ovos_installer_tuning | bool else '5s' }}

[Install]
WantedBy=default.target
