[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/terms/#hivemind
Description=HiveMind - Voice Satellite
After=network-online.target
Requires={{ _detect_sound_server.stdout }}.socket

[Service]
WorkingDirectory=%h/.venvs/ovos
ExecStart=%h/.venvs/ovos/bin/hivemind-voice-sat
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s KILL $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
