[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/terms/#hivemind
Description=HiveMind - Listener
After=network-online.target
Requires=ovos.service

[Service]
WorkingDirectory=%h/.venvs/ovos
ExecStart=%h/.venvs/ovos/bin/hivemind-core listen
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
