[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/components/#ovos-listener
Description=Open Voice OS - Listener
After=network.target ovos-messagebus.service ovos-phal.service
Requires=ovos-messagebus.service ovos-phal.service {{ _detect_sound_server.stdout }}.socket

[Service]
WorkingDirectory={{ ovos_installer_user_home }}/.venvs/ovos
ExecStart={{ ovos_installer_user_home }}/.venvs/ovos/bin/ovos-dinkum-listener
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
