[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/components/#ovos-messagebus
Description=Open Voice OS - Message bus service
PartOf=ovos.service
Requires=ovos.service

[Service]
ExecStart=%h/.local/bin/ovos_messagebus-{{ ansible_architecture }}-unknown-linux-gnu
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s KILL $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=ovos.service
