ovos-audio-plugin-mpv
ovos-audio-plugin-simple
ovos-backend-client
ovos-classifiers
ovos-plugin-common-play
ovos-microphone-plugin-sounddevice
ovos-PHAL
ovos-PHAL-plugin-alsa
ovos-PHAL-plugin-ipgeo
ovos-vad-plugin-webrtcvad
{% if (ansible_architecture == "x86_64") or (ansible_architecture == "aarch64") %}
ovos-ww-plugin-openwakeword
{% endif %}
{% if ovos_installer_cpu_is_capable | bool %}
ovos-ww-plugin-precise-lite
{% endif %}

# No PyPi release
git+https://github.com/JarbasHiveMind/HiveMind-voice-sat.git
git+https://github.com/JarbasHiveMind/hivemind_websocket_client.git
{% if 'tas5806' in ovos_installer_i2c_devices %}
git+https://github.com/OpenVoiceOS/ovos-PHAL-plugin-hotkeys.git
{% endif %}
{% if 'atmega328p' in ovos_installer_i2c_devices %}
git+https://github.com/OpenVoiceOS/ovos-PHAL-plugin-mk1.git
{% endif %}
git+https://github.com/OpenVoiceOS/ovos-stt-plugin-chromium.git
git+https://github.com/OpenVoiceOS/ovos-tts-plugin-polly.git
