ovos-audio[extras]
ovos-dinkum-listener[extras,linux]
ovos-PHAL[extras,linux]
ovos-backend-client
ovos-classifiers

ovos-tts-plugin-polly

{% if ovos_installer_cpu_is_capable | bool %}
ovos-dinkum-listener[onnx]
{% endif %}

{% if 'atmega328p' in ovos_installer_i2c_devices %}
ovos-PHAL[mk1]
{% endif %}

{% if 'tas5806' in ovos_installer_i2c_devices %}
ovos-PHAL[mk2]
{% endif %}

# No PyPi release
git+https://github.com/JarbasHiveMind/HiveMind-voice-sat.git
git+https://github.com/JarbasHiveMind/hivemind_websocket_client.git

