HiveMind-voice-sat
hivemind_bus_client
ovos-audio[extras]
ovos-audio-plugin-simple
ovos-classifiers
ovos-microphone-plugin-alsa
ovos-microphone-plugin-sounddevice
ovos-PHAL
ovos-PHAL-plugin-alsa
ovos-PHAL-plugin-ipgeo
ovos-stt-plugin-server
{% if ovos_installer_cpu_is_capable | bool %}
ovos-vad-plugin-silero
ovos-ww-plugin-precise-lite
{% endif %}
ovos-ww-plugin-pocketsphinx
poorman-handshake
