# HiveMind (no PyPi release)
git+https://github.com/JarbasHiveMind/HiveMind-core.git
git+https://github.com/JarbasHiveMind/HiveMind-presence.git
git+https://github.com/JarbasHiveMind/hivemind_websocket_client.git

# OVOS
ovos-core[lgpl,plugins]
ovos-messagebus
