ovos-core[skills-essential]

{% if ovos_installer_profile != "server" %}
ovos-core[skills-audio]
{% endif %}

# No PyPi release
{% if (ansible_architecture == "x86_64") or (ansible_architecture == "aarch64") or (ovos_installer_profile != "server") %}
git+https://github.com/OpenVoiceOS/ovos-skill-ggwave.git
{% endif %}

