ovos-skill-date-time
ovos-skill-fallback-unknown
ovos-skill-hello-world
ovos-skill-personal
ovos-skill-stop
ovos-skill-volume

# No PyPi release
git+https://github.com/OpenVoiceOS/skill-ovos-boot-finished.git
git+https://github.com/OpenVoiceOS/skill-ovos-icanhazdadjokes.git
git+https://github.com/OpenVoiceOS/skill-ovos-weather.git
git+https://github.com/OpenVoiceOS/skill-ovos-wikipedia.git

# Non-OVOS libraries
neon-skill-alerts
skill-easter-eggs
