#!/bin/bash
#
# This script ensure that all OVOS PHAL admin service
# requirements are fulfilled before trying to start.

# Variables
combo_locks_path=/tmp/combo_locks
attempt_counter=0
max_attempt=10

# Wait for other OVOS compoenents to start
while ! [ -d "$combo_locks_path" ]; do
    if [ "$attempt_counter" -lt "$max_attempt" ]; then
        echo "Trying to start ovos-phal-admin systemd unit... Attempt ${attempt_counter}/${max_attempt}"
        ((attempt_counter++))
        sleep 1
    fi
    mkdir "$combo_locks_path"
    chown {{ ovos_installer_user }}: -R "$combo_locks_path"
done

# Starst ovos_PHAL_admin Python binary
{{ ovos_installer_user_home }}/.venvs/ovos/bin/ovos_PHAL_admin
