---
- name: Include assert.yml
  ansible.builtin.import_tasks: assert.yml
  tags:
    - always

- name: Include systemd backend tasks
  ansible.builtin.import_tasks: systemd.yml
  when:
    - ansible_facts.system == 'Linux'
    - ovos_services_manager == 'systemd'
    - ovos_installer_method == "virtualenv" or ovos_installer_cleaning | default(false) | bool

- name: Include launchd backend tasks
  ansible.builtin.import_tasks: launchd.yml
  when:
    - ansible_facts.system == 'Darwin'
    - ovos_services_manager == 'launchd'
    - ovos_installer_method == "virtualenv" or ovos_installer_cleaning | default(false) | bool
