---
- name: Remove mimalloc drop-ins (system scope)
  ansible.builtin.file:
    path: "{{ ovos_installer_systemd_system_path }}/{{ item }}.service.d/{{ ovos_python_mimalloc_dropin_name }}"
    state: absent
  loop: "{{ ovos_installer_core_services }}"
  notify:
    - Reload Systemd
    - Restart OVOS services

- name: Remove mimalloc drop-ins (user scope)
  ansible.builtin.file:
    path: "{{ ovos_installer_systemd_user_path }}/{{ item }}.service.d/{{ ovos_python_mimalloc_dropin_name }}"
    state: absent
  loop: "{{ ovos_installer_core_services }}"
  notify:
    - Reload Systemd User
    - Restart OVOS services

- name: Remove Python tuning environment.d file
  ansible.builtin.file:
    path: "{{ ovos_python_env_dir }}/{{ ovos_python_env_file }}"
    state: absent
  notify: Reload Systemd User
