---
- name: Add installer user to dialout group
  ansible.builtin.user:
    name: "{{ ovos_installer_user }}"
    groups: "{{ ovos_hardware_mark1_dialout_group }}"
    append: true

- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ovos_installer_user }}"
    group: "{{ ovos_installer_group }}"
    mode: "0755"
  loop:
    - "{{ ovos_hardware_mark1_systemd_user_dir }}"
    - "{{ ovos_hardware_mark1_working_directory }}"

- name: Configure initialize.sh in work directory
  ansible.builtin.template:
    src: initialize.sh.j2
    dest: "{{ ovos_hardware_mark1_working_directory }}/{{ ovos_hardware_mark1_init_script_name }}"
    owner: "{{ ovos_installer_user }}"
    group: "{{ ovos_installer_group }}"
    mode: "0755"
