---
- name: Copy mark1 systemd unit file
  ansible.builtin.template:
    src: mark1.service.j2
    dest: "{{ ovos_hardware_mark1_unit_path }}"
    owner: "{{ ovos_installer_user }}"
    group: "{{ ovos_installer_group }}"
    mode: "{{ ovos_hardware_mark1_unit_mode }}"
  notify: Reload Systemd User

- name: Flush handlers service
  ansible.builtin.meta: flush_handlers

- name: Enable mark1 systemd unit
  become: true
  become_user: "{{ ovos_installer_user }}"
  ansible.builtin.systemd_service:
    name: "{{ ovos_hardware_mark1_unit_name }}"
    enabled: true
    force: true
    scope: user
