[Unit]
Documentation=https://github.com/MycroftAI/mark-ii-hardware-testing/blob/main/README.md
Description=SJ201 microphone initialization
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{ ovos_hardware_mark2_sj201_venv_path }}
ExecStart={{ ovos_hardware_mark2_sudo_path }} -E env PATH={{ ovos_hardware_mark2_sj201_runtime_path }} {{ ovos_hardware_mark2_sj201_venv_path }}/bin/python {{ ovos_hardware_mark2_working_dir }}/{{ ovos_hardware_mark2_sj201_flash_tool }} --direct {{ ovos_hardware_mark2_working_dir }}/{{ ovos_hardware_mark2_sj201_firmware_image }} --verbose
ExecStartPost=/usr/bin/env PATH={{ ovos_hardware_mark2_sj201_runtime_path }} {{ ovos_hardware_mark2_sj201_venv_path }}/bin/python {{ ovos_hardware_mark2_working_dir }}/{{ ovos_hardware_mark2_sj201_post_init_script }}
Restart=on-failure
RestartSec={{ ovos_hardware_mark2_sj201_unit_restart_sec }}
RemainAfterExit=yes

[Install]
WantedBy=default.target
