---
- name: Check for /boot/firmware directory
  ansible.builtin.stat:
    path: /boot/firmware
  register: ovos_installer_boot_config_status

- name: Set boot directory fact
  ansible.builtin.set_fact:
    ovos_installer_boot_directory: "{{ '/boot/firmware' if ovos_installer_boot_config_status.stat.exists | bool else '/boot' }}"

- name: Check for NetworkManager
  ansible.builtin.stat:
    path: /etc/NetworkManager
  register: ovos_installer_networkmanager_dir

- name: Define systemd drop-in paths
  ansible.builtin.set_fact:
    ovos_installer_systemd_dropin_path: >-
      {{ '/etc/systemd/system' if (ovos_installer_systemd_scope | default('user')) == 'system'
         else ovos_installer_user_home + '/.config/systemd/user' }}
    ovos_installer_systemd_dropin_owner: "{{ 'root' if (ovos_installer_systemd_scope | default('user')) == 'system' else ovos_installer_user }}"
    ovos_installer_systemd_dropin_group: "{{ 'root' if (ovos_installer_systemd_scope | default('user')) == 'system' else ovos_installer_group }}"
    ovos_installer_systemd_dropin_user_path: "{{ ovos_installer_user_home }}/.config/systemd/user"
    ovos_installer_systemd_reload_handler: "{{ 'Reload Systemd' if (ovos_installer_systemd_scope | default('user')) == 'system' else 'Reload Systemd User' }}"
