---
- name: Handle cpupower package on Debian family
  ansible.builtin.apt:
    name: "{{ 'linux-tools-common' if ansible_distribution != 'Debian' else 'linux-cpupower' }}"
    install_recommends: false
    state: "{{ ovos_installer_uninstall }}"
  when: ansible_os_family == "Debian"
  tags:
    - always

- name: Handle cpupower package on RedHat family
  ansible.builtin.dnf:
    name: kernel-tools
    state: "{{ ovos_installer_uninstall }}"
  when: ansible_os_family == "RedHat"
  tags:
    - always

- name: Handle cpupower package on SUSE family
  ansible.builtin.package:
    name: kernel-tools
    state: "{{ ovos_installer_uninstall }}"
  when: ansible_os_family == "Suse"
  tags:
    - always

- name: Handle cpupower package on Arch family
  community.general.pacman:
    name: linux-tools
    state: "{{ ovos_installer_uninstall }}"
  when: ansible_os_family == "Archlinux"
  tags:
    - always

- name: Check for existing CPU governor configuration
  ansible.builtin.stat:
    path: "{{ _ovos_installer_cpu_governor_config }}"
  register: ovos_installer_cpu_governor_config

- name: Set existing CPU governor to "performance"
  ansible.builtin.lineinfile:
    path: "{{ _ovos_installer_cpu_governor_config }}"
    regexp: "^CPU_DEFAULT_GOVERNOR="
    line: 'CPU_DEFAULT_GOVERNOR="performance"'
  when: ovos_installer_cpu_governor_config.stat.exists | bool

- name: Copy cpu-governor systemd unit file
  ansible.builtin.copy:
    src: tuning/cpu-governor.service
    dest: /etc/systemd/system/cpu-governor.service
    owner: root
    group: root
    mode: "0644"
  notify: Reload Systemd

- name: Flush handlers cpu-governor
  ansible.builtin.meta: flush_handlers

- name: Enable and start systemd cpu-governor unit
  ansible.builtin.systemd_service:
    name: cpu-governor.service
    enabled: true
    force: true
    state: started

- name: Block uninstall cpu-governor
  when: ovos_installer_cleaning | bool
  tags:
    - uninstall
  block:
    - name: Remove cpu-governor systemd unit file
      ansible.builtin.file:
        path: /etc/systemd/system/cpu-governor.service
        state: absent
      notify: Reload Systemd

    - name: Flush handlers cpugovernor (uninstall)
      ansible.builtin.meta: flush_handlers
