---
- name: Handle sysctl tuning for Open Voice OS
  ansible.posix.sysctl:
    name: "{{ item.option }}"
    value: "{{ item.value }}"
    sysctl_file: /etc/sysctl.d/99-ovos.conf
    reload: true
    state: "{{ ovos_installer_uninstall }}"
  loop:
    - { "option": "net.ipv4.tcp_slow_start_after_idle", "value": 0 }
    - { "option": "net.ipv4.tcp_tw_reuse", "value": 1 }
    - { "option": "net.core.netdev_max_backlog", "value": 50000 }
    - { "option": "net.ipv4.tcp_max_syn_backlog", "value": 30000 }
    - { "option": "net.ipv4.tcp_max_tw_buckets", "value": 2000000 }
    - { "option": "net.core.rmem_max", "value": 16777216 }
    - { "option": "net.core.wmem_max", "value": 16777216 }
    - { "option": "net.core.rmem_default", "value": 16777216 }
    - { "option": "net.core.wmem_default", "value": 16777216 }
    - { "option": "net.ipv4.tcp_rmem", "value": "4096 87380 16777216" }
    - { "option": "net.ipv4.tcp_wmem", "value": "4096 65536 16777216" }
    - { "option": "net.core.optmem_max", "value": 40960 }
    - { "option": "fs.inotify.max_user_instances", "value": 8192 }
    - { "option": "fs.inotify.max_user_watches", "value": 524288 }

    # Ultra Snappy Tuning
    - { "option": "net.ipv4.tcp_fastopen", "value": 3 } # Enable TCP Fast Open (client/server)
    - { "option": "kernel.sched_rt_runtime_us", "value": 980000 } # Increase RT runtime limit (default 950000)
    - { "option": "net.core.default_qdisc", "value": "fq" } # Required for BBR
    - { "option": "net.ipv4.tcp_congestion_control", "value": "bbr" } # BBR Congestion Control
    - { "option": "vm.min_free_kbytes", "value": 65536 } # Safety reserve to prevent network stalls (64MB)
    - { "option": "kernel.sched_autogroup_enabled", "value": 0 } # Improve service latency vs interactive shells
    # Advanced I/O Latency Tuning
    - { "option": "kernel.nmi_watchdog", "value": 0 } # Disable NMI watchdog (stops periodic CPU interrupts)
    - { "option": "vm.dirty_background_ratio", "value": 5 } # Write to disk early (avoid bufferbloat)
    - { "option": "vm.dirty_ratio", "value": 10 } # Throttle early to prevent massive system freezes
  tags:
    - always

- name: Disable Transparent Hugepages (THP) - Persistent
  ansible.builtin.copy:
    dest: /etc/tmpfiles.d/thp.conf
    content: |
      w /sys/kernel/mm/transparent_hugepage/enabled - - - - never
    owner: root
    group: root
    mode: "0644"
  notify: Reload Systemd

- name: Remove 99-ovos.conf file
  ansible.builtin.file:
    path: /etc/sysctl.d/99-ovos.conf
    state: absent
  when: ovos_installer_cleaning | bool
  tags:
    - uninstall
