---
- name: Handle systemd-zram-generator
  ansible.builtin.apt:
    name: systemd-zram-generator
    install_recommends: false
    state: "{{ ovos_installer_uninstall }}"
  when: ansible_os_family == "Debian"
  tags:
    - always

- name: Handle zram-generator-defaults
  ansible.builtin.dnf:
    name: zram-generator-defaults
    state: "{{ ovos_installer_uninstall }}"
  when: ansible_os_family == "RedHat"
  tags:
    - always

- name: Handle systemd-zram-generator
  community.general.zypper:
    name: systemd-zram-generator
    install_recommends: false
    state: "{{ ovos_installer_uninstall }}"
  when: ansible_os_family == "Suse"
  tags:
    - always

- name: Handle systemd-zram-generator on Arch Linux
  community.general.pacman:
    name: systemd-zram-generator
    state: "{{ ovos_installer_uninstall }}"
  when: ansible_os_family == "Archlinux"
  tags:
    - always

- name: Copy zram-generator.conf systemd configuration file
  ansible.builtin.copy:
    src: tuning/zram-generator.conf
    dest: /etc/systemd/zram-generator.conf
    owner: root
    group: root
    mode: "0644"
  notify: Reload Systemd

- name: Flush handlers zram
  ansible.builtin.meta: flush_handlers

- name: Start systemd zram unit
  ansible.builtin.systemd_service:
    name: /dev/zram0
    state: started

- name: Handle sysctl tuning for ZRAM
  ansible.posix.sysctl:
    name: "{{ item.option }}"
    value: "{{ item.value }}"
    sysctl_file: /etc/sysctl.d/98-zram.conf
    reload: true
    state: "{{ ovos_installer_uninstall }}"
  loop:
    - { "option": "vm.swappiness", "value": 100 }
    - { "option": "vm.page-cluster", "value": 0 }
    - { "option": "vm.vfs_cache_pressure", "value": 500 }
  tags:
    - always

- name: Block uninstall ZRAM
  when: ovos_installer_cleaning | bool
  tags:
    - uninstall
  block:
    - name: Remove ZRAM files
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      notify: Reload Systemd
      loop:
        - /etc/sysctl.d/98-zram.conf
        - /etc/systemd/zram-generator.conf

    - name: Flush handlers zram (uninstall)
      ansible.builtin.meta: flush_handlers
