---
- name: Copy wrapper-ovos-phal-admin.sh file
  ansible.builtin.template:
    src: virtualenv/wrapper-ovos-phal-admin.sh.j2
    dest: /usr/local/bin/wrapper-ovos-phal-admin.sh
    owner: root
    group: root
    mode: "0755"
  when: ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server'

- name: Define OVOS managed units
  ansible.builtin.set_fact:
    ovos_installer_managed_units:
      - ovos.service
      - ovos-messagebus.service
      - ovos-core.service
      - ovos-phal.service
      - ovos-listener.service
      - ovos-audio.service
      - ovos-gui-websocket.service
      - ovos-gui.service
      - ovos-ggwave-listener.service
      - hivemind-listener.service
      - hivemind-satellite.service

- name: Remove user scope units when using system scope
  when: (ovos_installer_systemd_scope | default('user')) == 'system'
  block:
    - name: Stop and disable OVOS user units from previous installs
      become: true
      become_user: "{{ ovos_installer_user }}"
      ansible.builtin.systemd_service:
        name: "{{ item }}"
        enabled: false
        state: stopped
        scope: user
      loop: "{{ ovos_installer_managed_units }}"
      failed_when: false

    - name: Remove OVOS user unit files from previous installs
      ansible.builtin.file:
        path: "{{ ovos_installer_user_home }}/.config/systemd/user/{{ item }}"
        state: absent
      loop: "{{ ovos_installer_managed_units }}"
      notify: Reload Systemd User

- name: Remove system scope units when using user scope
  when: (ovos_installer_systemd_scope | default('user')) == 'user'
  block:
    - name: Stop and disable OVOS system units from previous installs
      ansible.builtin.systemd_service:
        name: "{{ item }}"
        enabled: false
        state: stopped
        scope: system
      loop: "{{ ovos_installer_managed_units }}"
      failed_when: false

    - name: Remove OVOS system unit files from previous installs
      ansible.builtin.file:
        path: "/etc/systemd/system/{{ item }}"
        state: absent
      loop: "{{ ovos_installer_managed_units }}"
      notify: Reload Systemd

- name: Ensure user runtime directory exists for system scope
  when: (ovos_installer_systemd_scope | default('user')) == 'system'
  block:
    - name: Enable lingering for {{ ovos_installer_user }}
      ansible.builtin.command: "loginctl enable-linger {{ ovos_installer_user }}"
      changed_when: false
      failed_when: false

    - name: Ensure /run/user exists for {{ ovos_installer_uid }}
      ansible.builtin.file:
        path: "/run/user/{{ ovos_installer_uid }}"
        state: directory
        owner: "{{ ovos_installer_user }}"
        group: "{{ ovos_installer_group }}"
        mode: "0700"

    - name: Ensure user systemd instance is running
      ansible.builtin.systemd_service:
        name: "user@{{ ovos_installer_uid }}"
        state: started

- name: Copy OVOS systemd unit files
  vars:
    ovos_installer_systemd_path_user: "{{ ovos_installer_user_home }}/.config/systemd/user"
    ovos_installer_systemd_path_system: "/etc/systemd/system"
    ovos_installer_ovos_scope: "{{ ovos_installer_systemd_scope | default('user') }}"
    ovos_installer_ovos_unit_user: "{{ 'root' if ovos_installer_ovos_scope == 'system' else ovos_installer_user }}"
    ovos_installer_ovos_unit_group: "{{ 'root' if ovos_installer_ovos_scope == 'system' else ovos_installer_group }}"
    ovos_installer_notify_scope: "{{ 'Reload Systemd' if item.scope == 'system' else 'Reload Systemd User' }}"
  ansible.builtin.template:
    src: "virtualenv/{{ item.unit }}.j2"
    dest: "{{ (item.scope == 'system') | ternary(ovos_installer_systemd_path_system, ovos_installer_systemd_path_user) }}/{{ item.unit }}"
    owner: "{{ item.user }}"
    group: "{{ item.group }}"
    mode: "0644"
    backup: true
  notify: "{{ ovos_installer_notify_scope }}"
  loop:
    - unit: ovos.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      group: "{{ ovos_installer_ovos_unit_group }}"
      state: "{{ ovos_installer_profile != 'satellite' }}"
    - unit: ovos-messagebus.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      group: "{{ ovos_installer_ovos_unit_group }}"
      state: "{{ ovos_installer_profile != 'satellite' }}"
    - unit: ovos-core.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      group: "{{ ovos_installer_ovos_unit_group }}"
      state: "{{ ovos_installer_profile != 'satellite' }}"
    - unit: ovos-phal.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      group: "{{ ovos_installer_ovos_unit_group }}"
      state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    - unit: ovos-phal-admin.service
      scope: system
      user: root
      group: root
      state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    - unit: ovos-listener.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      group: "{{ ovos_installer_ovos_unit_group }}"
      state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    - unit: ovos-audio.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      group: "{{ ovos_installer_ovos_unit_group }}"
      state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    - unit: ovos-gui-websocket.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      group: "{{ ovos_installer_ovos_unit_group }}"
      state: "{{ ovos_installer_feature_gui | bool and ovos_installer_profile != 'satellite' }}"
    - unit: ovos-gui.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      group: "{{ ovos_installer_ovos_unit_group }}"
      state: "{{ ovos_installer_feature_gui | bool and ovos_installer_profile != 'satellite' }}"
    - unit: ovos-ggwave-listener.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      group: "{{ ovos_installer_ovos_unit_group }}"
      state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' and (ovos_installer_enable_ggwave | bool) }}"
    - unit: hivemind-listener.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      group: "{{ ovos_installer_ovos_unit_group }}"
      state: "{{ ovos_installer_profile == 'listener' or ovos_installer_profile == 'server' }}"
    - unit: hivemind-satellite.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      group: "{{ ovos_installer_ovos_unit_group }}"
      state: "{{ ovos_installer_profile == 'satellite' }}"
  when: item.state | bool

- name: Flush handlers ovos
  ansible.builtin.meta: flush_handlers

- name: Enable and start OVOS and/or HiveMind systemd units
  vars:
    ovos_installer_systemd_state: "{{ 'restarted' if ovos_installer_configuration.changed | bool else 'started' }}"
    ovos_installer_ovos_scope: "{{ ovos_installer_systemd_scope | default('user') }}"
    ovos_installer_ovos_unit_user: "{{ 'root' if ovos_installer_ovos_scope == 'system' else ovos_installer_user }}"
  become: true
  become_user: "{{ item.user }}"
  ansible.builtin.systemd_service:
    name: "{{ item.unit }}"
    enabled: true
    force: true
    state: "{{ ovos_installer_systemd_state }}"
    scope: "{{ item.scope }}"
  loop:
    - unit: ovos.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      state: "{{ ovos_installer_profile != 'satellite' }}"
    - unit: ovos-messagebus.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      state: "{{ ovos_installer_profile != 'satellite' }}"
    - unit: ovos-core.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      state: "{{ ovos_installer_profile != 'satellite' }}"
    - unit: ovos-phal.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    - unit: ovos-phal-admin.service
      scope: system
      user: root
      state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    - unit: ovos-listener.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    - unit: ovos-audio.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' }}"
    - unit: ovos-gui-websocket.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      state: "{{ ovos_installer_feature_gui | bool and ovos_installer_profile != 'satellite' }}"
    - unit: ovos-gui.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      state: "{{ ovos_installer_feature_gui | bool and ovos_installer_profile != 'satellite' }}"
    - unit: ovos-ggwave-listener.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      state: "{{ ovos_installer_profile != 'satellite' and ovos_installer_profile != 'server' and (ovos_installer_enable_ggwave | bool) }}"
    - unit: hivemind-listener.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      state: "{{ ovos_installer_profile == 'listener' or ovos_installer_profile == 'server' }}"
    - unit: hivemind-satellite.service
      scope: "{{ ovos_installer_ovos_scope }}"
      user: "{{ ovos_installer_ovos_unit_user }}"
      state: "{{ ovos_installer_profile == 'satellite' }}"
  when: item.state | bool

- name: Block uninstall systemd
  when: ovos_installer_cleaning | bool
  tags:
    - uninstall
  block:
    - name: Stop and disable OVOS and/or HiveMind systemd units
      vars:
        ovos_installer_ovos_scope: "{{ ovos_installer_systemd_scope | default('user') }}"
        ovos_installer_ovos_unit_user: "{{ 'root' if ovos_installer_ovos_scope == 'system' else ovos_installer_user }}"
      become: true
      become_user: "{{ item.user }}"
      ansible.builtin.systemd_service:
        name: "{{ item.unit }}"
        enabled: false
        state: stopped
        scope: "{{ item.scope }}"
      loop:
        - unit: ovos.service
          scope: "{{ ovos_installer_ovos_scope }}"
          user: "{{ ovos_installer_ovos_unit_user }}"
        - unit: ovos-messagebus.service
          scope: "{{ ovos_installer_ovos_scope }}"
          user: "{{ ovos_installer_ovos_unit_user }}"
        - unit: ovos-core.service
          scope: "{{ ovos_installer_ovos_scope }}"
          user: "{{ ovos_installer_ovos_unit_user }}"
        - unit: ovos-phal.service
          scope: "{{ ovos_installer_ovos_scope }}"
          user: "{{ ovos_installer_ovos_unit_user }}"
        - {"unit": "ovos-phal-admin.service", "scope": "system", "user": "root"}
        - unit: ovos-listener.service
          scope: "{{ ovos_installer_ovos_scope }}"
          user: "{{ ovos_installer_ovos_unit_user }}"
        - unit: ovos-audio.service
          scope: "{{ ovos_installer_ovos_scope }}"
          user: "{{ ovos_installer_ovos_unit_user }}"
        - unit: ovos-gui-websocket.service
          scope: "{{ ovos_installer_ovos_scope }}"
          user: "{{ ovos_installer_ovos_unit_user }}"
        - unit: ovos-gui.service
          scope: "{{ ovos_installer_ovos_scope }}"
          user: "{{ ovos_installer_ovos_unit_user }}"
        - unit: ovos-ggwave-listener.service
          scope: "{{ ovos_installer_ovos_scope }}"
          user: "{{ ovos_installer_ovos_unit_user }}"
        - unit: hivemind-listener.service
          scope: "{{ ovos_installer_ovos_scope }}"
          user: "{{ ovos_installer_ovos_unit_user }}"
        - unit: hivemind-satellite.service
          scope: "{{ ovos_installer_ovos_scope }}"
          user: "{{ ovos_installer_ovos_unit_user }}"
      register: ovos_installer_systemd_stop
      failed_when: false # Never fail - units may not exist

    - name: Remove OVOS systemd unit files
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      notify:
        - Reload Udev
        - Reload Systemd
        - Reload Systemd User
      loop:
        - /etc/systemd/system/ovos.service
        - /etc/systemd/system/ovos-messagebus.service
        - /etc/systemd/system/ovos-core.service
        - /etc/systemd/system/ovos-phal.service
        - /etc/systemd/system/ovos-listener.service
        - /etc/systemd/system/ovos-audio.service
        - /etc/systemd/system/ovos-gui-websocket.service
        - /etc/systemd/system/ovos-gui.service
        - /etc/systemd/system/ovos-ggwave-listener.service
        - /etc/systemd/system/hivemind-listener.service
        - /etc/systemd/system/hivemind-satellite.service
        - "{{ ovos_installer_user_home }}/.config/systemd/user/ovos.service"
        - "{{ ovos_installer_user_home }}/.config/systemd/user/ovos-messagebus.service"
        - "{{ ovos_installer_user_home }}/.config/systemd/user/ovos-core.service"
        - "{{ ovos_installer_user_home }}/.config/systemd/user/ovos-phal.service"
        - "{{ ovos_installer_user_home }}/.config/systemd/user/ovos-listener.service"
        - "{{ ovos_installer_user_home }}/.config/systemd/user/ovos-audio.service"
        - "{{ ovos_installer_user_home }}/.config/systemd/user/ovos-gui-websocket.service"
        - "{{ ovos_installer_user_home }}/.config/systemd/user/ovos-gui.service"
        - "{{ ovos_installer_user_home }}/.config/systemd/user/ovos-ggwave-listener.service"
        - "{{ ovos_installer_user_home }}/.config/systemd/user/hivemind-listener.service"
        - "{{ ovos_installer_user_home }}/.config/systemd/user/hivemind-satellite.service"
        - /etc/systemd/system/ovos-phal-admin.service

    - name: Flush handlers ovos (uninstall)
      ansible.builtin.meta: flush_handlers

    - name: Remove directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - "{{ ovos_installer_user_home }}/.cache/mycroft"
        - "{{ ovos_installer_user_home }}/.config/mycroft"
        - "{{ ovos_installer_user_home }}/.config/hivemind"
        - "{{ ovos_installer_user_home }}/.config/OpenVoiceOS"
        - "{{ ovos_installer_user_home }}/.config/OvosTheme"
        - "{{ ovos_installer_user_home }}/.config/OvosDisplay.conf"
        - "{{ ovos_installer_user_home }}/.config/ovos-installer"
        - "{{ ovos_installer_user_home }}/.config/ovos_persona"
        - "{{ ovos_installer_user_home }}/.local/share/mycroft"
        - "{{ ovos_installer_user_home }}/.local/share/OpenVoiceOS"
        - "{{ ovos_installer_user_home }}/.local/share/precise-lite"
        - "{{ ovos_installer_user_home }}/.local/state/mycroft"
        - "{{ ovos_installer_user_home }}/.local/state/vosk"
        - "{{ ovos_installer_user_home }}/.local/state/ovos"
        - "{{ ovos_installer_user_home }}/nltk_data"
        - "{{ ovos_installer_user_home }}/stdout"
