[Unit]
Documentation=https://github.com/MycroftAI/enclosure-mark1
Description=Mycroft Mark 1's atmega328p initialization
After=network-online.target
ConditionPathExists={{ ovos_hardware_mark1_serial_device }}

[Service]
Type=oneshot
ExecStart={{ ovos_hardware_mark1_working_directory }}/{{ ovos_hardware_mark1_init_script_name }}
Restart=on-failure
RestartSec={{ ovos_hardware_mark1_unit_restart_sec }}
RemainAfterExit=yes

[Install]
WantedBy=default.target
