[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/what-is-it/
Description=Open Voice OS - Meta service
After=network-online.target
{% if ovos_installer_profile != "server" and (ovos_installer_systemd_scope | default('user')) == 'user' %}
Requires={{ ovos_sound_detect_sound_server.stdout }}.socket
{% endif %}

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=default.target
