---
- name: Include tuning/main.yml
  ansible.builtin.import_tasks: tuning/main.yml
  when:
    (ovos_installer_raspberrypi != "N/A" and ovos_installer_tuning | bool) or
    (ovos_installer_raspberrypi != "N/A" and ovos_installer_cleaning | bool)

- name: Include sound.yml
  ansible.builtin.import_tasks: sound.yml
  when: ovos_installer_profile != "server"

- name: Include timezone.yml
  ansible.builtin.import_tasks: timezone.yml

- name: Include ovos.yml
  ansible.builtin.import_tasks: ovos.yml

- name: Include video.yml
  ansible.builtin.import_tasks: video.yml
  when:
    - ovos_installer_feature_gui | bool
    - ovos_installer_profile != "server"

- name: Include docker/main.yml
  ansible.builtin.import_tasks: docker/main.yml
  when: ovos_installer_method == "containers" or ovos_installer_cleaning | bool

- name: Include virtualenv/main.yml
  ansible.builtin.import_tasks: virtualenv/main.yml
  when: ovos_installer_method == "virtualenv" or ovos_installer_cleaning | bool

- name: Include finalize.yml
  ansible.builtin.import_tasks: finalize.yml

- name: Include telemetry.yml
  ansible.builtin.import_tasks: telemetry.yml
  when: ovos_installer_telemetry | bool
