---
ovos_performance_tuning_cpu_governor_config_base: /etc/default/cpu_governor
ovos_performance_tuning_cpu_governor_config_path: "{{ ovos_performance_tuning_cpu_governor_config_base }}"
ovos_performance_tuning_cpu_governor_value: performance
ovos_performance_tuning_cpu_governor_unit_name: cpu-governor.service
ovos_performance_tuning_cpu_governor_unit_path: >-
  {{ (ovos_installer_systemd_system_path | default('/etc/systemd/system')) }}/cpu-governor.service
ovos_performance_tuning_cpu_governor_unit_src: tuning/cpu-governor.service

ovos_performance_tuning_kernel_modules:
  - i2c-dev
  - spidev
ovos_performance_tuning_dtparams:
  - { key: "dtparam=i2c_arm", value: "on" }
  - { key: "dtparam=spi", value: "on" }
  - { key: "dtparam=i2s", value: "on" }
ovos_performance_tuning_dtparam_keys: "{{ ovos_performance_tuning_dtparams | map(attribute='key') | list }}"

ovos_performance_tuning_usb_autosuspend_param: usbcore.autosuspend=-1
ovos_performance_tuning_usb_autosuspend_regex: "(^|\\\\s){{ ovos_performance_tuning_usb_autosuspend_param | regex_escape }}(?=\\\\s|$)"

ovos_performance_tuning_cpuinfo_max_freq_path: /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_max_freq
ovos_performance_tuning_devfreq_path: /sys/class/devfreq
ovos_performance_tuning_gpu_vcgencmd_cmd: "vcgencmd measure_clock core"
ovos_performance_tuning_boot_config_path: "{{ ovos_installer_boot_directory }}/config.txt"
ovos_performance_tuning_cmdline_path: "{{ ovos_installer_boot_directory }}/cmdline.txt"

ovos_performance_tuning_scheduler_rule_path: /etc/udev/rules.d/60-scheduler.rules
ovos_performance_tuning_scheduler_devices: "mmcblk[0-9]*|sd[a-z]*"
ovos_performance_tuning_scheduler_name: bfq
ovos_performance_tuning_scheduler_rule_content: |
  ACTION=="add|change", KERNEL=="{{ ovos_performance_tuning_scheduler_devices }}", ATTR{queue/scheduler}="{{ ovos_performance_tuning_scheduler_name }}"

ovos_performance_tuning_sysctl_file: /etc/sysctl.d/99-ovos.conf
ovos_performance_tuning_sysctl_settings:
  - { option: "net.ipv4.tcp_slow_start_after_idle", value: 0 }
  - { option: "net.ipv4.tcp_tw_reuse", value: 1 }
  - { option: "net.core.netdev_max_backlog", value: 50000 }
  - { option: "net.ipv4.tcp_max_syn_backlog", value: 30000 }
  - { option: "net.ipv4.tcp_max_tw_buckets", value: 2000000 }
  - { option: "net.core.rmem_max", value: 16777216 }
  - { option: "net.core.wmem_max", value: 16777216 }
  - { option: "net.core.rmem_default", value: 16777216 }
  - { option: "net.core.wmem_default", value: 16777216 }
  - { option: "net.ipv4.tcp_rmem", value: "4096 87380 16777216" }
  - { option: "net.ipv4.tcp_wmem", value: "4096 65536 16777216" }
  - { option: "net.core.optmem_max", value: 40960 }
  - { option: "fs.inotify.max_user_instances", value: 8192 }
  - { option: "fs.inotify.max_user_watches", value: 524288 }
  - { option: "net.ipv4.tcp_fastopen", value: 3 }
  - { option: "kernel.sched_rt_runtime_us", value: 980000 }
  - { option: "net.core.default_qdisc", value: fq }
  - { option: "vm.min_free_kbytes", value: 65536 }
  - { option: "kernel.sched_autogroup_enabled", value: 0 }
  - { option: "kernel.nmi_watchdog", value: 0 }
  - { option: "vm.dirty_background_ratio", value: 5 }
  - { option: "vm.dirty_ratio", value: 10 }

ovos_performance_tuning_sysctl_tcp_cc_available_cmd: "sysctl -n net.ipv4.tcp_available_congestion_control"
ovos_performance_tuning_sysctl_congestion_control: bbr

ovos_performance_tuning_sysctl_reload_cmd: "sysctl -p /etc/sysctl.d/99-ovos.conf"
ovos_performance_tuning_nmi_watchdog_path: /proc/sys/kernel/nmi_watchdog

ovos_performance_tuning_thp_tmpfiles_path: /etc/tmpfiles.d/thp.conf
ovos_performance_tuning_thp_tmpfiles_content: |
  w /sys/kernel/mm/transparent_hugepage/enabled - - - - never

ovos_performance_tuning_zram_device: /dev/zram0
ovos_performance_tuning_zram_config_path: /etc/systemd/zram-generator.conf
ovos_performance_tuning_zram_config_src: tuning/zram-generator.conf
ovos_performance_tuning_zram_packages_debian: systemd-zram-generator
ovos_performance_tuning_zram_packages_redhat: zram-generator-defaults
ovos_performance_tuning_zram_packages_suse: systemd-zram-generator
ovos_performance_tuning_zram_packages_arch: systemd-zram-generator
ovos_performance_tuning_zram_sysctl_file: /etc/sysctl.d/98-zram.conf
ovos_performance_tuning_zram_sysctl_settings:
  - { option: "vm.swappiness", value: 100 }
  - { option: "vm.page-cluster", value: 0 }
  - { option: "vm.vfs_cache_pressure", value: 500 }

ovos_performance_tuning_noswap_dropin_name: 99-noswap.conf
ovos_performance_tuning_rt_dropin_name: 98-performance.conf
ovos_performance_tuning_noswap_limit: 0
ovos_performance_tuning_rt_policy: fifo
ovos_performance_tuning_rt_priority: 70
ovos_performance_tuning_rt_limit_rtprio: 95
ovos_performance_tuning_rt_limit_memlock: infinity
ovos_performance_tuning_rt_cpu_affinity: ""
ovos_performance_tuning_rt_cpu_affinity_min_vcpus: 4

ovos_performance_tuning_numa_fake_number_pi5: "4"
ovos_performance_tuning_numa_fake_number_default: "2"
ovos_performance_tuning_numa_param_template: "numa=fake={{ _fake_number }}"

ovos_performance_tuning_limits_path: /etc/security/limits.d/99-ovos.conf
ovos_performance_tuning_limits_entries:
  - { domain: "{{ ovos_installer_user }}", type: soft, item: rtprio, value: 99 }
  - { domain: "{{ ovos_installer_user }}", type: hard, item: rtprio, value: 99 }
  - { domain: "{{ ovos_installer_user }}", type: soft, item: memlock, value: unlimited }
  - { domain: "{{ ovos_installer_user }}", type: hard, item: memlock, value: unlimited }
  - { domain: "{{ ovos_installer_user }}", type: soft, item: nice, value: -20 }
  - { domain: "{{ ovos_installer_user }}", type: hard, item: nice, value: -20 }

ovos_performance_tuning_pam_limits_file: /etc/pam.d/common-session
ovos_performance_tuning_pam_limits_line: "session required pam_limits.so"

ovos_performance_tuning_numa_enabled: >-
  {{ ovos_installer_tuning_numa | default(ovos_installer_tuning_performance | bool) }}
ovos_performance_tuning_overclock_enabled: "{{ ovos_installer_tuning_overclock | default(false) }}"
ovos_performance_tuning_overclock_arm_boost: "{{ ovos_installer_overclock_arm_boost | default('1') }}"
ovos_performance_tuning_overclock_initial_turbo: "{{ ovos_installer_overclock_initial_turbo | default('60') }}"
ovos_performance_tuning_overclock_over_voltage: "{{ ovos_installer_overclock_over_voltage | default('6') }}"
ovos_performance_tuning_overclock_arm_freq: >-
  {{ ovos_installer_overclock_arm_freq
     | default('2800' if 'Raspberry Pi 5' in (ovos_installer_raspberrypi | default('')) else '2000') }}
ovos_performance_tuning_overclock_gpu_freq: "{{ ovos_installer_overclock_gpu_freq | default('750') }}"

ovos_performance_tuning_core_services: >-
  {{ ovos_installer_core_services | default(['ovos-core', 'ovos-audio', 'ovos-listener', 'ovos-messagebus', 'ovos-phal']) }}
ovos_performance_tuning_rt_services: >-
  {{ ovos_installer_rt_services | default(['ovos-audio', 'ovos-listener', 'ovos-core']) }}
