---
- name: Include assert.yml
  ansible.builtin.import_tasks: assert.yml
  tags:
    - always

- name: Include packages.yml
  ansible.builtin.import_tasks: packages.yml
  when: not (ovos_installer_cleaning | default(false) | bool)

- name: Include venv.yml
  ansible.builtin.import_tasks: venv.yml
  when: not (ovos_installer_cleaning | default(false) | bool)

- name: Include bus.yml
  ansible.builtin.import_tasks: bus.yml
  when:
    - ansible_facts.system in ['Linux', 'Darwin']
    - ovos_installer_profile != 'satellite'
    - not (ovos_installer_cleaning | default(false) | bool)

- name: Include uninstall tasks
  ansible.builtin.import_tasks: uninstall.yml
  when: ovos_installer_cleaning | default(false) | bool
  tags:
    - uninstall
