---
- name: Assert uninstall mode
  ansible.builtin.assert:
    that:
      - ovos_installer_cleaning | default(false) | bool
    fail_msg: "Uninstall tasks require ovos_installer_cleaning=true."
  tags:
    - uninstall

- name: Remove virtualenv package requirements (Debian/Zorin)
  ansible.builtin.apt:
    name:
      - build-essential
      - swig
      - libfann-dev
      - libasound2-dev
      - libpulse-dev
      - libportaudio2
      - mpg123
      - music123
      - sox
      - libsox-fmt-all
      - libespeak-ng1
      - espeak-ng
      - flac
      - mpv
      - libxslt1-dev
      - libopenblas-dev
      - pkg-config
      - libicu-dev
      - portaudio19-dev
      - libjpeg-dev
    install_recommends: false
    state: absent
  failed_when: false
  when:
    - ovos_installer_uninstall_remove_packages | default(false) | bool
    - ansible_facts.os_family in ['Debian', 'Zorin OS']

- name: Remove virtualenv package requirements (RedHat)
  ansible.builtin.dnf:
    name:
      - gcc-c++
      - swig
      - fann-devel
      - alsa-lib-devel
      - pulseaudio-libs-devel
      - portaudio
      - mpg123
      - sox
      - flac
      - mpv
      - openblas-serial
      - pkgconf-pkg-config
      - libicu-devel
      - portaudio-devel
      - espeak-ng
    state: absent
  failed_when: false
  when:
    - ovos_installer_uninstall_remove_packages | default(false) | bool
    - ansible_facts.os_family == "RedHat"

- name: Remove virtualenv package requirements (SUSE)
  community.general.zypper:
    name:
      - gcc-c++
      - swig
      - libfann-devel
      - alsa-lib-devel
      - libpulse-devel
      - libportaudio2
      - libespeak-ng1
      - espeak-ng
      - mpg123
      - sox
      - flac
      - mpv
      - libopenblas_serial-devel
      - portaudio-devel
    state: absent
  failed_when: false
  when:
    - ovos_installer_uninstall_remove_packages | default(false) | bool
    - ansible_facts.os_family == "Suse"

- name: Remove virtualenv package requirements (Archlinux)
  community.general.pacman:
    name:
      - base-devel
      - swig
      - alsa-lib
      - portaudio
      - mpg123
      - sox
      - flac
      - mpv
      - libxslt
      - openblas
      - espeak-ng
    state: absent
  failed_when: false
  when:
    - ovos_installer_uninstall_remove_packages | default(false) | bool
    - ansible_facts.os_family == "Archlinux"

- name: Remove virtualenv package requirements (macOS)
  become: true
  become_user: "{{ ovos_installer_user }}"
  community.general.homebrew:
    name: "{{ ovos_virtualenv_macos_packages }}"
    state: absent
    path: "{{ ovos_virtualenv_homebrew_path }}"
    update_homebrew: false
  environment:
    PATH: "{{ ovos_virtualenv_homebrew_path }}:{{ ansible_env.PATH | default('/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin') }}"
  failed_when: false
  when:
    - ovos_installer_uninstall_remove_packages | default(false) | bool
    - ansible_facts.system == "Darwin"

- name: Check for OVOS venv activation script
  ansible.builtin.stat:
    path: "{{ ovos_virtualenv_path }}/bin/activate"
  register: ovos_virtualenv_activate_script
  changed_when: false

- name: Remove OVOS constraints from venv activation
  vars:
    _ovos_release: "https://raw.githubusercontent.com/OpenVoiceOS/ovos-releases/refs/heads/main/constraints-{{ ovos_installer_channel }}.txt"
  ansible.builtin.lineinfile:
    path: "{{ ovos_virtualenv_path }}/bin/activate"
    line: "{{ item.line }}"
    regexp: "{{ item.regexp }}"
    insertafter: "{{ item.insertafter }}"
    owner: "{{ ovos_installer_user }}"
    group: "{{ ovos_installer_group }}"
    state: absent
  loop:
    - line: "export PIP_CONSTRAINT=\"{{ _ovos_release }}\""
      regexp: "^export PIP_CONSTRAINT="
      insertafter: "^VIRTUAL_ENV="
    - line: "export UV_CONSTRAINT=\"{{ _ovos_release }}\""
      regexp: "^export UV_CONSTRAINT="
      insertafter: "^export PIP_CONSTRAINT="
  loop_control:
    label: "{{ item.regexp }}"
  when: ovos_virtualenv_activate_script.stat.exists | default(false) | bool

- name: Check for user .bashrc
  ansible.builtin.stat:
    path: "{{ ovos_installer_user_home }}/.bashrc"
  register: ovos_virtualenv_bashrc
  changed_when: false

- name: Remove VIRTUAL_ENV variable and update PATH in .bashrc
  vars:
    _path: "{{ ovos_virtualenv_path }}/bin"
  ansible.builtin.lineinfile:
    path: "{{ ovos_installer_user_home }}/.bashrc"
    line: "{{ item.line }}"
    regexp: "{{ item.regexp }}"
    owner: "{{ ovos_installer_user }}"
    group: "{{ ovos_installer_group }}"
    mode: "0644"
    state: absent
  loop:
    - line: "VIRTUAL_ENV={{ _path }}"
      regexp: "^VIRTUAL_ENV"
    - line: "PATH=$PATH:{{ _path }}"
      regexp: "^PATH"
  loop_control:
    label: "{{ item.regexp }}"
  when:
    - ovos_virtualenv_bashrc.stat.exists | default(false) | bool
    - (ovos_installer_i2c_devices | default([])) | length < 1

- name: Remove OVOS virtualenv auto-activate block
  ansible.builtin.blockinfile:
    path: "{{ ovos_installer_user_home }}/.bashrc"
    marker: "# {mark} OVOS VENV"
    block: |
      if [[ $- == *i* ]] && [ -f "{{ ovos_virtualenv_path }}/bin/activate" ]; then
        source "{{ ovos_virtualenv_path }}/bin/activate"
      fi
    owner: "{{ ovos_installer_user }}"
    group: "{{ ovos_installer_group }}"
    mode: "0644"
    state: absent
  when: ovos_virtualenv_bashrc.stat.exists | default(false) | bool

- name: Remove ovos Python virtualenv and requirements.txt files
  vars:
    _requirements_paths: "{{ ovos_virtualenv_requirements_files | map(attribute='dest') | list }}"
    _venv_executable: >-
      {{ ansible_playbook_python
         | default(ansible_python_interpreter | default(ansible_facts.get('python', {}).get('executable', ''))) }}
    _running_from_ovos_venv: >-
      {{ _venv_executable is search('^' ~ (ovos_virtualenv_root_dir | regex_escape)) }}
    _remove_venv_paths: >-
      {{ [] if (_running_from_ovos_venv and not (ovos_virtualenv_force_remove | bool))
         else [ovos_virtualenv_path, ovos_virtualenv_root_dir] }}
    _uninstall_paths: >-
      {{ _remove_venv_paths
         + _requirements_paths
         + ovos_virtualenv_uninstall_extra_paths
         + [ovos_virtualenv_messagebus_path, ovos_virtualenv_rust_messagebus_binary_path]
         | unique }}
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop: "{{ _uninstall_paths }}"

- name: Warn when skipping venv removal during uninstall
  ansible.builtin.debug:
    msg: >-
      Skipping removal of {{ ovos_virtualenv_root_dir }} because Ansible is
      running from that venv. Set ovos_virtualenv_force_remove=true to override.
  when:
    - ansible_facts.get('python', {}).get('executable', '') is search('^' ~ (ovos_virtualenv_root_dir | regex_escape))
    - not (ovos_virtualenv_force_remove | bool)
