---
- name: Detect Debian based distribution
  ansible.builtin.set_fact:
    ovos_installer_os_distribution: "{{ 'ubuntu' if (ansible_distribution != 'Debian') else 'debian' }}"

- name: Install required packages
  ansible.builtin.apt:
    name:
      - ca-certificates
      - gnupg
    install_recommends: false

- name: Retrieve Docker GPG repository key
  ansible.builtin.get_url:
    url: "https://download.docker.com/linux/{{ ovos_installer_os_distribution }}/gpg"
    dest: "{{ _ovos_installer_debian_docker_gpg }}"
    owner: root
    group: root
    mode: "0644"

- name: Extract and replace gpg key with dearmor
  ansible.builtin.command:
    cmd: |
      gpg --dearmor {{ _ovos_installer_debian_docker_gpg }}
    creates: "{{ _ovos_installer_debian_docker_gpg }}.gpg"

- name: Add Docker repository
  vars:
    architecture: "{{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' }}"
    # Dirty hack because of Linux Mint
    release: "{{ 'jammy' if (ansible_distribution == 'Linux Mint' and ansible_distribution_major_version == '21') else ansible_distribution_release }}"
  ansible.builtin.apt_repository:
    repo: >-
      deb [arch={{ architecture }}, signed-by={{ _ovos_installer_debian_docker_gpg }}.gpg]
      https://download.docker.com/linux/{{ ovos_installer_os_distribution }}
      {{ release }} stable
    filename: /etc/apt/sources.list.d/docker
    update_cache: true

- name: Install Docker Engine
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    install_recommends: false

- name: Install x11-xserver-utils package
  ansible.builtin.apt:
    name: x11-xserver-utils
    install_recommends: false
  when: ovos_installer_display_server != "N/A"
