#jinja2: lstrip_blocks: True
{
  "log_level": "INFO",
{% if ovos_installer_method == "containers" %}
  "logs": {
    "path": "stdout"
  },
{% endif %}
{% if ovos_installer_profile != "server" %}
  "play_wav_cmdline": "{{ 'afplay %1' if ansible_facts.system == 'Darwin' else 'play %1' }}",
  "play_mp3_cmdline": "{{ 'afplay %1' if ansible_facts.system == 'Darwin' else 'play %1' }}",
  "lang": "{{ ovos_installer_locale }}",
  "system_unit": "{{ ovos_config_system_unit }}",
  "temperature_unit": "{{ ovos_config_temperature_unit }}",
  "precipitation_unit": "{{ ovos_config_precipitation_unit }}",
  "windspeed_unit": "{{ ovos_config_windspeed_unit }}",
  "time_format": "{{ ovos_config_time_format }}",
  "spoken_time_format": "{{ ovos_config_spoken_time_format }}",
  "date_format": "{{ ovos_config_date_format }}",
{% if ovos_timezone_value is defined %}
  "location": {
    "timezone": {
      "code": "{{ ovos_timezone_value }}",
      "name": "{{ ovos_timezone_name | default(ovos_timezone_value) }}"
    }
  },
{% endif %}
  "listener": {
    "VAD": {
      "module": "{{ 'ovos-vad-plugin-silero' if (ovos_installer_cpu_is_capable | default(false)) | bool else 'ovos-vad-plugin-webrtcvad' }}"{% if ovos_installer_tuning | bool %},
      "ovos-vad-plugin-silero": {
        "silence_duration": 0.5
      },
      "ovos-vad-plugin-webrtcvad": {
        "silence_duration": 0.5
      }{% endif %}
    }{% if ansible_facts.system == 'Darwin' or ovos_installer_tuning | bool %},{% endif %}
{% if ansible_facts.system == 'Darwin' %}
    "microphone": {
      "module": "ovos-microphone-plugin-sounddevice"
    }{% if ansible_facts.system == 'Darwin' or ovos_installer_tuning | bool %},{% endif %}
{% endif %}
{% if ansible_facts.system == 'Darwin' or ovos_installer_tuning | bool %}
    "wake_word": "hey_mycroft",
    "multiplier": {{ ovos_config_listener_multiplier }}{% if ovos_installer_tuning | bool %},
    "patience": 0.5{% endif %},
    "hotwords": {
      "hey_mycroft": {
        "module": "ovos-ww-plugin-precise-onnx",
        "sensitivity": {{ ovos_config_hotword_sensitivity }},
        "trigger_level": {{ ovos_config_hotword_trigger_level }}
      }
    }
{% endif %}
  },
{% if ansible_facts.architecture in (ovos_installer_supported_desktop_architectures | default(['x86_64', 'aarch64', 'arm64'])) %}
  "skills": {
    "installer": {
      "allow_pip": true,
      "allow_alphas": true
    }
  },
{% endif %}
{% if 'tas5806' in ovos_installer_i2c_devices %}
  "Audio": {
    "backends": {
      "OCP": {
        "playback_mode": 40
      }
    }
  },
  "intents": {
    "OCP": {
      "legacy": true
    }
  },
{% endif %}
{% endif %}
  "websocket": {
    "host": "{{ '0.0.0.0' if ovos_installer_method == "containers" else '127.0.0.1' }}",
    "max_msg_size": 25
  },
  "PHAL": {
    "admin": {
      "ovos-PHAL-plugin-system": {
        "enabled": true
      }
   }{% if 'tas5806' in ovos_installer_i2c_devices %},
    "ovos-PHAL-plugin-hotkeys": {
      "key_down": {
        "mycroft.mic.listen": 582,
        "mycroft.mic.mute": 248,
        "mycroft.volume.increase": 115,
        "mycroft.volume.decrease": 114
      },
      "key_up": {
        "mycroft.mic.unmute": 248
      }
    }
{% endif %}
  }{% if ovos_installer_usage_telemetry| bool %},
  "open_data": {
    "intent_urls": [
      "https://metrics.tigregotico.pt/intents"
    ]
  }
{% endif %}
}
