---
- name: Include assert.yml
  ansible.builtin.import_tasks: assert.yml
  tags:
    - always

- name: Check for /etc/pip.conf
  ansible.builtin.stat:
    path: "{{ ovos_finalize_pip_conf_path }}"
  register: ovos_finalize_pip_conf

- name: Restore /etc/pip.conf configuration
  ansible.builtin.lineinfile:
    dest: "{{ ovos_finalize_pip_conf_path }}"
    regexp: "{{ ovos_finalize_pip_conf_extra_index_regex }}"
    line: "{{ ovos_finalize_pip_conf_extra_index_line }}"
    backrefs: true
  when:
    - ansible_architecture == "aarch64" or "Raspberry Pi 5" in (ovos_installer_raspberrypi | default(""))
    - ovos_finalize_pip_conf.stat.exists | bool

- name: Configuration drift detection
  vars:
    _drift: "{{ 'true' if (ovos_config_configuration.changed | default(false)) | bool else 'false' }}"
  ansible.builtin.debug:
    msg: The "mycroft.conf" configuration file has been restored, existing file has been backup.
  when: _drift | bool
